.repository-description {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link {
    font-weight: bold;
    border-top: 1px solid var(--color-repository);
    padding-top: 1rem;
}

.link:hover {
    color: var(--color-repository)
}